[Unit]
Documentation=man:systemd-sysv-generator(8)
SourcePath=/etc/init.d/minidlna
Description=LSB: minidlna server
Before=multi-user.target
Before=multi-user.target
Before=multi-user.target
Before=graphical.target
After=network-online.target
After=remote-fs.target
Wants=network-online.target
RequiresMountsFor=/media/Daten/


[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/etc/init.d/minidlna start
ExecStop=/etc/init.d/minidlna stop

[Install]
WantedBy=multi-user.target
